$colorDark: #212121;
$colorGreen: #7EB105;
$colorOrange: #F6731C;
$colorLightGrey: #999999;
@mixin fonts($fofa, $category, $fsize, $lheight){
    font-family: $fofa;
    line-height: $lheight;
    font-size: $fsize;
}

//-----------------------

.container {
    max-width: 1240px;
    margin: 0 auto;
}
.iphone_main {
    max-width: 249px;
    margin: 100px auto;
    position: relative;
    &:hover {
        border: 1px solid $colorGreen;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        transform: translateY(-1px);
        opacity: 1;
        transition: .5s;
    }
    &:hover .iphone_info_hiden {
        opacity: 1;
        transition: .5s;
    }
}
// visible part !!!
.iphone_info {
    margin: 0 auto;
    max-width: 217px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    &_unhiden {
        margin: 0 auto;
        padding: 0 20px; 
    }
    &_hiden {
        opacity: 0;
        transition: .5s;
    }
}

.icons {
    padding: 10px 17px 4px 0px; 
    display: flex; 
    &_youtube {
        margin-right: 19px;
        &:hover path {
            fill: #4169E1;
            transition: .5s;
        }
    }
    &_around:hover path {
        fill: #4169E1;
        transition: .5s;
    }
}
.iphone_wrapper {
    position: relative;
}
.iphone_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.colorchange_main {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 0px;
    &_1, &_2 {
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        bottom: -20px;
        border-radius: 4px;
        border:2px solid transparent;
        &:hover {
            border: 2px solid $colorGreen;
            border-radius: 4px;
            cursor: pointer;
            transition: .2s;
        }
    }
    &_1 {
        background-color: #454545;
        left: 2px;
    }
    &_2 {
        background-color: #FFACA7;
        left: 42px;
    }
}
a {
    text-decoration: none;
}
.ratings {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    &_stars_item:hover path {
        fill: $colorOrange;
    }
    &_stars_mark {
        @include fonts(Arial, serif, 12px ,normal );
        color: $colorLightGrey;
    }
    &_reviews_count_item {
        font-family: Arial, serif;
        font-size: 12px;
        line-height: normal;
        text-decoration: underline;
        color: $colorGreen;
    }
}
p {
    padding: 0;
    margin: 0;
}
.about {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    &_key_item {
        @include fonts(Arial, serif, 10px ,normal );
        color: $colorLightGrey;
        display: inline-block;
    }
    &_key_item2 {
        @include fonts(Arial, serif, 11px ,normal );
        color: $colorDark;
        display: inline-block;
    }
    &_inStock {
        margin-top: 5px;
        position: relative;
    }
    &_inStock_text {
        @include fonts(Arial, serif, 12px ,normal );
        color: $colorGreen;
        margin-left: 15px;
    }
    &_inStock_circle {
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        top: 3px;
        left: 0;
        border-radius: 50%;
        background-color: $colorGreen;
    }
    &_info {
        margin-top: 6px;
        width: 217px;
        &_item {
            @include fonts(Arial, serif, 14px ,normal );
            color: $colorDark;
        }
    }
    &_memory {
        margin-top: 6px;
        &_link1, &_link2 {
            @include fonts(Arial, serif, 14px ,normal );
        }
        &_link1 {
            color: $colorDark;
            &:hover {
                border-bottom-style: solid;
                color: $colorGreen;
            }
        }
        &_link2 {
            color: $colorGreen;
            border-bottom-style: dashed;
        }
    }
    &_price {
        margin-top: 12px;
        &_old {
            @include fonts(Arial, serif, 12px ,normal );
            color: $colorLightGrey;
            text-decoration: line-through;
            display: inline-block;
        }
        &_new {
            @include fonts(Arial, serif, 18px ,normal );
            color: $colorOrange;
            font-weight: bold;
            margin-left: 8px;
            display: inline-block;
            position: relative;
            &::after {
                content: "грн";
                position: absolute;
                display: block;
                top: -1px;
                right: -22px;
                font-weight: bold;
                color: $colorOrange;
                font-size: 12px;
            }
        }
        &_economy {
            margin-top: 3px;
            @include fonts(Arial, serif, 12px ,normal );
            color: $colorGreen;
        }
    }
}
.line {
    color: #EBEBEB;
    width: 90%;
    opacity: .3;
}
.icons_bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    &_link:hover path {
        fill: $colorGreen;
    }
}
// hiden part !!!

.iphone_info_hiden {
    margin: 0 auto;
    width: 249px;
    padding: 20px;
}
.sale {
    margin-left: 5px;
    display: flex;
    &_text {
        display: block;
        margin-left: 8px;
        margin-top: 8px;
        &_1 {
        @include fonts(Arial, serif, 12px ,normal );
        font-style: normal;
        font-weight: bold;
        color: $colorDark;
        }
        &_2 {
            @include fonts(Arial, serif, 11px ,normal );
        color: $colorOrange;
        }
    }
}
.characters {
    margin-top: 10px;
    margin-left: 5px;
    &_caption {
        @include fonts(Arial, serif, 14px ,normal );
        color: $colorDark; 
    }
    &_list {
        margin-top: -10px;
        margin-left: -15px;
        &_item {
            @include fonts(Arial, serif, 14px ,19px );
            color: $colorLightGrey;
        }
    }
}





